[Unit]
Description=CADD REST API
Requires=nginx.service
Before=nginx.service

[Service]
User=cadd-rest-api
Group={{ cadd_rest_api_server_nogroup_name }}
EnvironmentFile=/etc/systemd/system/cadd-rest-api-env.sh
WorkingDirectory={{ cadd_rest_api_server_install_path }}/{{ cadd_rest_api_server_version }}
KillMode=process
Restart=always
ExecStart={{ cadd_rest_api_server_install_path }}/{{ cadd_rest_api_server_version }}-venv/bin/gunicorn -w 16 --timeout 300 -b {{ cadd_rest_api_server_host }}:{{ cadd_rest_api_server_port }} config.wsgi

[Install]
# When should this service be triggered? (this is the equivalent of SysV's runlevel 3)
WantedBy=multi-user.target
